* {
    font-family: sans-serif;
    font-family: roboto;
    text-align: left;
    text-align: center;
    text-decoration: line-through;
    font-kerning: auto;
    font-kerning: normal;
    font-kerning: none;
    font-kerning: inherit;
    font-kerning: initial;
    font-variant-ligatures: normal;
    font-variant-ligatures: none;
    font-variant-ligatures: common-ligatures;           
    font-variant-ligatures: no-common-ligatures;       
    font-variant-ligatures: discretionary-ligatures;   
    font-variant-ligatures: no-discretionary-ligatures; 
    font-variant-ligatures: historical-ligatures;       
    font-variant-ligatures: no-historical-ligatures;   
    font-variant-ligatures: contextual;               
    font-variant-ligatures: no-contextual;             
    font-variant-ligatures: inherit;
    font-variant-ligatures: initial;
    font-variant: small-caps;
}

.App1 {
    font-family: sans-serif;
    text-align: left;
  }
  .App2 {
    font-family: sans-serif;
    text-align: left;
  }
  h3 {
    font-size: 14px;
    color: rgb(58, 83, 224);
    letter-spacing: 3px;
  }
  
  h2 {
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
  }